NOTION_API_KEY=
NOTION_VERSION=2022-06-28
NOTION_FISH_DATABASE_ID=
NOTION_ORDERS_DATABASE_ID=
NOTION_ORDER_ITEMS_DATABASE_ID=
NOTION_INVENTORY_DATABASE_ID=
NOTION_TANKS_DATABASE_ID=
NOTION_CUSTOMERS_DATABASE_ID=
NOTION_SUPPLIERS_DATABASE_ID=
NOTION_PURCHASES_DATABASE_ID=
NOTION_INVENTORY_ADJUSTMENTS_DATABASE_ID=
NOTION_SYSTEM_LOGS_DATABASE_ID=
